@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,500|Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a .up {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 40px;
  height: 40px;
  background-color: #f34f3f;
}

a .up i {
  position: absolute;
  left: 9px;
  top: 7px;
  font-size: 30px;
  color: white;
}

nav {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 70px;
}

nav .container .logo img {
  width: 205px;
}

nav .container .options {
  padding: 0;
}

nav .container .options ul {
  margin: 0px;
  padding: 0;
}

nav .container .options ul li {
  list-style: none;
  padding-right: 8%;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 550;
  color: #1b1b1b;
  cursor: pointer;
}

nav .container .options ul li .second {
  position: absolute;
  display: block;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s all;
  transition: .2s all;
}

nav .container .options ul li .second ul {
  padding-top: 15px;
}

nav .container .options ul li .second ul li {
  padding-bottom: 15px;
}

nav .container .options ul li .second ul li a {
  text-decoration: none;
  color: #737373;
}

nav .container .options ul li:hover .second {
  margin-top: 25px;
  height: 283px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #pages {
  margin-top: 25px;
  height: 130px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #shop {
  margin-top: 25px;
  padding-top: 17px;
  height: 370px;
  width: 90%;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
  left: 5%;
}

nav .container .options ul li:hover #portfolio {
  margin-top: 25px;
  height: 200px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #blog {
  margin-top: 25px;
  height: 130px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #elements {
  margin-top: 25px;
  height: 170px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .mix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

nav .container .mix .search-icon {
  padding-right: 25px;
}

nav .container .mix .basket-icon {
  padding-right: 25px;
}

.box {
  width: 100%;
  background-color: white;
  height: 1px;
  padding-top: 70px;
}

main #title_wrapper {
  background: #FAFAF9;
  padding: 80px 0;
}

main #title_wrapper .container .title h1 {
  color: #0e0e0e;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

main #title_wrapper .container .title p {
  font-family: 'Lora', serif;
  font-size: 17px;
  font-style: italic;
  color: #6d6a6a;
}

main #flower {
  padding-top: 40px;
}

main #flower .col-lg-6 .col-lg-2 {
  padding: 0;
}

main #flower .col-lg-6 .col-lg-2 .col-lg-12 img {
  width: 100%;
  padding-bottom: 26px;
  cursor: pointer;
}

main #flower .col-lg-6 .col-lg-10 img {
  width: 100%;
  cursor: pointer;
}

main #flower .col-lg-6 .title h3 {
  color: #1b1b1b;
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.447em;
}

main #flower .col-lg-6 .price span {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #afafaf;
}

main #flower .col-lg-6 .text p {
  margin-top: 20px;
  font-family: 'Lora', serif;
  color: #6d6a6a;
  font-size: 15px;
  line-height: 1.6em;
}

main #flower .col-lg-6 .quantity .quantity_add {
  margin: 30px 0;
}

main #flower .col-lg-6 .quantity .quantity_add .quantity {
  border: 1px solid #eee;
}

main #flower .col-lg-6 .quantity .quantity_add .quantity span {
  font-size: 13px;
  padding: 18px 22px;
}

main #flower .col-lg-6 .quantity .quantity_add .quantity .quantity_number {
  padding: 11px;
}

main #flower .col-lg-6 .quantity .quantity_add .quantity .quantity_number i {
  padding: 8px;
  color: #afafaf;
}

main #flower .col-lg-6 .quantity .quantity_add .quantity .quantity_number span {
  font-size: 15px;
  padding: 7px;
}

main #flower .col-lg-6 .quantity .add-to-cart {
  border: 5px solid black;
  background: #0e0e0e;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 40px;
  letter-spacing: .1em;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

main #flower .col-lg-6 .about p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
}

main #flower .col-lg-6 .about p span {
  color: #6d6a6a;
  font-size: 12px;
}

main #click {
  padding-top: 75px;
  padding-bottom: 25px;
}

main #click .container {
  padding: 0px;
}

main #click .container .buttons ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

main #click .container .buttons ul li {
  padding: 0px;
  margin: 0px;
  border: 1px solid #eee;
  color: #1b1b1b;
  letter-spacing: 0.9px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 20px 45px;
  cursor: pointer;
}

main #click .container .buttons ul .desc {
  background-color: #f34f3f;
  color: white;
}

main #click .container .content .first {
  padding-top: 25px;
}

main #click .container .content .first h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #1b1b1b;
  line-height: 1.4em;
  font-weight: 400;
}

main #click .container .content .first p {
  font-family: "Lora", serif;
  color: #6D6A6A;
  font-size: 15px;
  line-height: 25px;
}

main #click .container .content .second {
  padding-top: 25px;
}

main #click .container .content .second p {
  font-family: 'Lora', serif;
  color: #6d6a6a;
  font-size: 15px;
  line-height: 25px;
}

main #click .container .content .second p strong {
  color: #1b1b1b;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

main #click .container .content .second p span {
  color: #6D6A6A;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

main #click .container .content .third {
  padding-top: 25px;
}

main #click .container .content .third .reviews .title h3 {
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #1b1b1b;
  line-height: 1.4em;
  font-weight: 400;
}

main #click .container .content .third .reviews .about .person .col-lg-1 img {
  width: 72px;
  padding-top: 6px;
}

main #click .container .content .third .reviews .about .person .col-lg-11 span {
  color: #1b1b1b;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 15px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

main #click .container .content .third .reviews .about .person .col-lg-11 .date {
  color: #6D6A6A;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

main #click .container .content .third .reviews .about .person .col-lg-11 p {
  margin: 0px;
  padding-top: 7px;
  font-family: "Lora", serif;
  color: #6D6A6A;
  font-size: 15px;
  line-height: 25px;
}

main #click .container .content .third .add_reviews {
  padding: 40px 0;
}

main #click .container .content .third .add_reviews h2 {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #1b1b1b;
  line-height: 1.4em;
  font-weight: 400;
}

main #click .container .content .third .add_reviews .review p {
  margin-bottom: 5px;
}

main #click .container .content .third .add_reviews .review form div label {
  margin-top: 10px;
  font-family: "Lora", serif;
  color: #6D6A6A;
  font-size: 15px;
  line-height: 25px;
}

main #click .container .content .third .add_reviews .review form div textarea {
  width: 100%;
  border: 1px solid #eee;
}

main #click .container .content .third .add_reviews .review form div input {
  border: 1px solid #eee;
  border-radius: 0px;
  padding: 30px;
}

main #click .container .content .third .add_reviews .review form input.button {
  color: #ffffff;
  background-color: #f34f3f;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.833em;
  letter-spacing: .1em;
  font-weight: 500;
  border: none;
  padding: 15px 45px;
  margin-top: 20px;
}

main #products .products {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #products .products .col-lg-3 .mycard {
  -webkit-transform: 0.4s;
          transform: 0.4s;
}

main #products .products .col-lg-3 .mycard .card-body .name a {
  text-decoration: none;
  color: #1b1b1b;
  margin: 0px;
  padding: 0px;
}

main #products .products .col-lg-3 .mycard .card-body .price-cards .add a {
  text-decoration: none;
  color: #6d6a6a;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main #products .products .col-lg-3 .mycard .card-body .price-cards .price a {
  text-decoration: none;
  color: #6d6a6a;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main #products .products .col-lg-3 .mycard:hover .card-body {
  text-align: center;
}

main #products .products .col-lg-3 .mycard:hover .card-body .price-cards .price {
  -webkit-transform: translateX(33px);
          transform: translateX(33px);
  opacity: 0;
}

main #products .products .col-lg-3 .mycard:hover .card-body .price-cards .add {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

main #products .products .col-lg-3 .card-body {
  text-align: center;
}

main #products .products .col-lg-3 .card-body .name {
  font-size: 13px;
}

main #products .products .col-lg-3 .card-body .price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .products .col-lg-3 .card-body .price-cards .price {
  color: #757575;
  font-size: 13px;
  -webkit-transform: translateX(-33px);
          transform: translateX(-33px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #products .products .col-lg-3 .card-body .price-cards .add {
  color: #757575;
  font-size: 13px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #fefaf3;
}

footer .top-footer .col-lg-3 .title {
  padding-top: 50px;
}

footer .top-footer .col-lg-3 .list {
  padding-top: 30px;
}

footer .top-footer .col-lg-3 .list ul {
  list-style: none;
  padding: 0px;
}

footer .top-footer .col-lg-3 .list ul li a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 12px;
}

footer .top-footer .col-lg-3 .list ul li a:hover {
  color: #f34f3f;
}

footer .bottom-footer .line {
  border-top: 1px solid #8b8b8b;
}

footer .bottom-footer .container .rights span {
  font-size: 12px;
  color: #afafaf;
}

footer .bottom-footer .container .rights span a {
  text-decoration: none;
  color: #6d6a6a;
}

footer .bottom-footer .container .rights span a:hover {
  color: #f34f3f;
}

footer .bottom-footer .container .insta-face .insta a {
  font-size: 12px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .bottom-footer .container .insta-face .insta a:hover {
  color: #f34f3f;
}

footer .bottom-footer .container .insta-face .face a {
  font-size: 12px;
  text-decoration: none;
  color: #8b8b8b;
  padding-left: 25px;
}

footer .bottom-footer .container .insta-face .face a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=main.css.map */