@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,500|Playfair+Display&display=swap');

$heading_fontFamily: 'Playfair Display',
serif;
$title_fontFamily: 'Montserrat',
sans-serif;
$content_fontFamily: 'Lora',
serif;
$heading_color: #0e0e0e;
$title_color: #1b1b1b;
$content_color: #6D6A6A;
$subtitle_color: #AFAFAF;
$btn_color: #f34f3f;
$main_color: #ffffff;
$footer_background_color: #fefaf3;
$header_background_color: #FAFAF9;
$title_background_color: #f6f6f6;
$heading_fontSize: 50px;
$title_fontSize: 12px;
$content_fontSize: 14px;
$fontSize: 17px;
$border: 1px solid #eee;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    .up {
        position: fixed;
        bottom: 35px;
        right: 35px;
        width: 40px;
        height: 40px;
        background-color: #f34f3f;

        i {
            position: absolute;
            left: 9px;
            top: 7px;
            font-size: 30px;
            color: white;
        }
    }
}

nav {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 70px;

    .container {

        .logo {
            // border: 1px solid black;

            img {
                width: 205px;
            }

        }

        .options {
            // border: 1px solid black;
            padding: 0;

            ul {
                margin: 0px;
                padding: 0;

                li {
                    list-style: none;
                    padding-right: 8%;
                    padding-top: 5px;
                    font-size: 12px;
                    font-weight: 550;
                    color: #1b1b1b;
                    cursor: pointer;

                    .second {
                        position: absolute;
                        display: block;
                        height: 0px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .2s all;

                        ul {
                            padding-top: 15px;

                            li {
                                padding-bottom: 15px;

                                a {
                                    text-decoration: none;
                                    color: #737373;
                                }
                            }
                        }

                    }

                    &:hover {
                        .second {
                            margin-top: 25px;
                            height: 283px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #pages {
                            margin-top: 25px;
                            height: 130px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #shop {
                            margin-top: 25px;
                            padding-top: 17px;
                            height: 370px;
                            width: 90%;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                            left: 5%;

                        }

                        #portfolio {
                            margin-top: 25px;
                            height: 200px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;

                        }

                        #blog {
                            margin-top: 25px;
                            height: 130px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #elements {
                            margin-top: 25px;
                            height: 170px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }
                    }
                }



            }
        }

        .mix {
            // border: 1px solid black;
            display: flex;
            justify-content: space-between;
            padding: 0;

            .search-icon {
                padding-right: 25px;
            }

            .basket-icon {
                padding-right: 25px;
            }
        }

    }
}

.box {
    width: 100%;
    background-color: white;
    height: 1px;
    padding-top: 70px;
}

main {
    #title_wrapper {
        background: #FAFAF9;
        padding: 80px 0;

        .container {
            .title {
                h1 {
                    color: #0e0e0e;
                    font-size: 50px;
                    font-family: 'Playfair Display', serif;
                }

                p {
                    font-family: 'Lora', serif;
                    font-size: 17px;
                    font-style: italic;
                    color: #6d6a6a;
                }
            }
        }
    }

    #flower {
        padding-top: 40px;

        .col-lg-6 {

            .col-lg-2 {

                padding: 0;

                .col-lg-12 {


                    img {
                        width: 100%;
                        padding-bottom: 26px;
                        cursor: pointer;
                    }


                }
            }

            .col-lg-10 {

                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }

        .col-lg-6 {
            .title {
                h3 {
                    color: #1b1b1b;
                    font-family: 'Playfair Display', serif;
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 1.447em;
                }

            }

            .price {
                span {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: #afafaf;
                }
            }

            .text {
                p {
                    margin-top: 20px;
                    font-family: 'Lora', serif;
                    color: #6d6a6a;
                    font-size: 15px;
                    line-height: 1.6em;
                }
            }

            .quantity {
                .quantity_add {
                    margin: 30px 0;

                    .quantity {
                        border: 1px solid #eee;

                        span {
                            font-size: 13px;
                            padding: 18px 22px;
                        }

                        .quantity_number {
                            padding: 11px;

                            i {
                                padding: 8px;
                                color: #afafaf;
                            }

                            span {
                                font-size: 15px;
                                padding: 7px;
                            }
                        }
                    }
                }

                .add-to-cart {
                    border: 5px solid black;
                    background: #0e0e0e;
                    color: #ffffff;
                    text-transform: uppercase;
                    padding: 15px 40px;
                    letter-spacing: .1em;
                    font-weight: 500;
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                }

            }

            .about {
                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    color: #1b1b1b;

                    span {
                        color: #6d6a6a;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #click {
        padding-top: 75px;
        padding-bottom: 25px;

        .container {
            padding: 0px;

            .buttons {
                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    li {
                        padding: 0px;
                        margin: 0px;
                        border: 1px solid #eee;
                        color: #1b1b1b;
                        letter-spacing: 0.9px;
                        font-size: 12px;
                        font-weight: 500;
                        font-family: "Montserrat", sans-serif;

                        padding: 20px 45px;
                        cursor: pointer;
                    }

                    .desc {
                        background-color: #f34f3f;
                        color: white;
                    }
                }

            }

            .content {
                .first {
                    padding-top: 25px;

                    h3 {
                        font-family: "Playfair Display", serif;
                        font-size: 30px;
                        color: #1b1b1b;
                        line-height: 1.4em;
                        font-weight: 400;
                    }

                    p {
                        font-family: "Lora", serif;
                        color: #6D6A6A;
                        font-size: 15px;
                        line-height: 25px;
                    }
                }

                .second {
                    padding-top: 25px;

                    p {
                        font-family: 'Lora', serif;
                        color: #6d6a6a;
                        font-size: 15px;
                        line-height: 25px;

                        strong {
                            color: #1b1b1b;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 12px;
                        }

                        span {
                            color: #6D6A6A;
                            padding-left: 10px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 12px;
                        }
                    }
                }

                .third {
                    padding-top: 25px;

                    .reviews {
                        .title {
                            h3 {
                                margin-bottom: 40px;
                                font-family: "Playfair Display", serif;
                                font-size: 30px;
                                color: #1b1b1b;
                                line-height: 1.4em;
                                font-weight: 400;
                            }
                        }

                        .about {
                            .person {
                                .col-lg-1 {

                                    img {
                                        width: 72px;
                                        padding-top: 6px;
                                    }
                                }

                                .col-lg-11 {



                                    span {
                                        color: #1b1b1b;
                                        font-weight: 500;
                                        letter-spacing: .1em;
                                        text-transform: uppercase;
                                        line-height: 15px;
                                        font-size: 12px;
                                        font-family: "Montserrat", sans-serif
                                    }

                                    .date {
                                        color: #6D6A6A;
                                        padding-left: 10px;
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 12px;
                                    }

                                    p {
                                        margin: 0px;
                                        padding-top: 7px;
                                        font-family: "Lora", serif;
                                        color: #6D6A6A;
                                        font-size: 15px;
                                        line-height: 25px;
                                    }
                                }
                            }
                        }
                    }

                    .add_reviews {
                        padding: 40px 0;

                        h2 {
                            margin-bottom: 20px;
                            font-family: $heading_fontFamily;
                            font-size: $heading_fontSize - 20;
                            color: $title_color;
                            line-height: 1.4em;
                            font-weight: 400;
                        }

                        .review {
                            p {
                                margin-bottom: 5px;
                            }

                            form {
                                div {
                                    label {
                                        margin-top: 10px;
                                        font-family: "Lora", serif;
                                        color: #6D6A6A;
                                        font-size: 15px;
                                        line-height: 25px;
                                    }

                                    textarea {
                                        width: 100%;
                                        border: $border;
                                    }

                                    input {
                                        border: $border;
                                        border-radius: 0px;
                                        padding: 30px;
                                    }
                                }

                                input.button {
                                    color: $main_color;
                                    background-color: $btn_color;
                                    text-transform: uppercase;
                                    font-size: $title_fontSize;
                                    font-family: $title_fontFamily;
                                    line-height: 1.833em;
                                    letter-spacing: .1em;
                                    font-weight: 500;
                                    border: none;
                                    padding: 15px 45px;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    #products {
        .products {
            transition: 0.4s;

            .col-lg-3 {

                .mycard {
                    transform: 0.4s;

                    // .cardd-header {
                    //     a {
                    //         img {
                    //             overflow: hidden;
                    //             &:hover {
                    //                 transform: scale(1.05) translateZ(0);
                    //             }
                    //         }


                    //     }
                    //     a {
                    //         img {
                    //             width: 100%;
                    //             transform: scale(1) translateZ(0);
                    //             transition: transform 0.3s ease;
                    //         }
                    //     }

                    // }

                    .card-body {
                        .name {
                            a {
                                text-decoration: none;
                                color: #1b1b1b;
                                margin: 0px;
                                padding: 0px;
                            }


                        }

                        .price-cards {
                            .add {
                                a {
                                    text-decoration: none;
                                    color: #6d6a6a;
                                    margin: 0px;
                                    padding: 0px;
                                    text-align: center;
                                }
                            }

                            .price {
                                a {
                                    text-decoration: none;
                                    color: #6d6a6a;
                                    margin: 0px;
                                    padding: 0px;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    &:hover {
                        .card-body {
                            text-align: center;

                            .price-cards {

                                .price {

                                    transform: translateX(33px);
                                    opacity: 0;

                                }

                                .add {
                                    opacity: 1;
                                    transform: translateX(10px);
                                }
                            }
                        }

                    }
                }

                .card-body {
                    text-align: center;

                    .name {

                        font-size: 13px;
                    }

                    .price-cards {
                        display: flex;
                        justify-content: center;

                        .price {
                            color: #757575;
                            font-size: 13px;
                            transform: translateX(-33px);
                            transition: 0.4s;


                        }

                        .add {
                            color: #757575;
                            font-size: 13px;
                            transform: translateX(-50px);
                            opacity: 0;
                            transition: 0.3s;
                        }
                    }
                }
            }

        }
    }

}

footer {
    margin-top: 90px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fefaf3;


    .top-footer {
        .col-3 {

            .title {
                padding-top: 50px;
            }

            .list {
                padding-top: 30px;

                ul {
                    list-style: none;
                    padding: 0px;

                    li {

                        a {
                            text-decoration: none;
                            color: #8b8b8b;
                            font-size: 12px;

                            &:hover {
                                color: #f34f3f;

                            }
                        }

                    }

                }
            }
        }
    }

    .bottom-footer {

        .line {
            border-top: 1px solid #8b8b8b;
        }

        .container {
            .rights {
                span {
                    font-size: 12px;
                    color: #afafaf;

                    a {
                        text-decoration: none;
                        color: #6d6a6a;

                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }

            .insta-face {
                .insta {
                    a {
                        font-size: 12px;
                        text-decoration: none;
                        color: #8b8b8b;

                        &:hover {
                            color: #f34f3f;
                        }
                    }

                }

                .face {
                    a {
                        font-size: 12px;
                        text-decoration: none;
                        color: #8b8b8b;
                        padding-left: 25px;

                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }
        }
    }
}