@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,500|Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a .up {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 40px;
  height: 40px;
  background-color: #f34f3f;
}

a .up i {
  position: absolute;
  left: 9px;
  top: 7px;
  font-size: 30px;
  color: white;
}

nav {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

nav .container .logo img {
  width: 205px;
}

nav .container .options {
  padding: 0;
}

nav .container .options ul {
  margin: 0px;
  padding: 0;
}

nav .container .options ul li {
  list-style: none;
  padding-right: 8%;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 550;
  color: #1b1b1b;
  cursor: pointer;
}

nav .container .options ul li .second {
  position: absolute;
  display: block;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s all;
  transition: .2s all;
}

nav .container .options ul li .second ul {
  padding-top: 15px;
}

nav .container .options ul li .second ul li {
  padding-bottom: 15px;
}

nav .container .options ul li .second ul li a {
  text-decoration: none;
  color: #737373;
}

nav .container .options ul li:hover .second {
  margin-top: 25px;
  height: 283px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #pages {
  margin-top: 25px;
  height: 130px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #shop {
  margin-top: 25px;
  padding-top: 17px;
  height: 370px;
  width: 90%;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
  left: 5%;
}

nav .container .options ul li:hover #portfolio {
  margin-top: 25px;
  height: 200px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #blog {
  margin-top: 25px;
  height: 130px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .options ul li:hover #elements {
  margin-top: 25px;
  height: 170px;
  width: 150px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
  padding-left: 15px;
}

nav .container .mix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

nav .container .mix .search-icon {
  padding-right: 25px;
}

nav .container .mix .basket-icon {
  padding-right: 25px;
}

main #slider {
  position: relative;
}

main #slider .images {
  width: 100%;
}

main #slider .images .image {
  overflow: hidden;
  width: 100%;
  height: 488px;
}

main #slider .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: f_img_scale 4.2555s infinite;
          animation: f_img_scale 4.2555s infinite;
}

@-webkit-keyframes f_img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes f_img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #slider .title {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 200px;
}

main #slider .title h2 {
  padding: 0 90px 15px 0;
  color: #0e0e0e;
  font-family: 'Playfair Display', serif;
  font-size: 41px;
  line-height: 51px;
  font-weight: 400;
}

main #slider .title h2 span {
  color: #f34f3f;
}

main #slider .title p {
  padding: 0 10px 10px 0;
  color: #6d6a6a;
  font-size: 17px;
  font-family: 'Lora', serif;
  line-height: 29px;
  font-weight: 400;
}

main #slider .title img {
  width: 197px;
  height: 56px;
}

main #category {
  margin-bottom: 5rem;
}

main #category .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #category .filters .filter-flower {
  width: 50%;
}

main #category .filters .filter-flower ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -22px;
  padding-left: 0px;
  margin-top: 20px;
}

main #category .filters .filter-flower ul li {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  color: #1b1b1b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main #category .filters .filter-flower ul li:hover {
  color: #f34f3f;
}

main #category .filters .filter {
  position: relative;
  margin-top: 20px;
}

main #category .filters .filter:hover .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #category .filters .filter .sort {
  display: none;
  position: absolute;
  right: 10px;
  background-color: white;
  width: 400px;
}

main #category .filters .filter .sort ul {
  list-style: none;
}

main #category .filters .filter .sort ul li {
  margin-bottom: 5px;
}

main #category .filters .filter .sort ul li a {
  text-decoration: none;
  color: #6d6a6a;
}

main #category .filters .filter .sort ul li a:hover {
  color: #1b1b1b;
}

main #category .products {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #category .products .col-lg-3 .mycard {
  -webkit-transform: 0.4s;
          transform: 0.4s;
}

main #category .products .col-lg-3 .mycard .card-body .name a {
  text-decoration: none;
  color: #1b1b1b;
  margin: 0px;
  padding: 0px;
}

main #category .products .col-lg-3 .mycard .card-body .price-cards .add a {
  text-decoration: none;
  color: #6d6a6a;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main #category .products .col-lg-3 .mycard .card-body .price-cards .price a {
  text-decoration: none;
  color: #6d6a6a;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main #category .products .col-lg-3 .mycard:hover .card-body {
  text-align: center;
}

main #category .products .col-lg-3 .mycard:hover .card-body .price-cards .price {
  -webkit-transform: translateX(33px);
          transform: translateX(33px);
  opacity: 0;
}

main #category .products .col-lg-3 .mycard:hover .card-body .price-cards .add {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

main #category .products .col-lg-3 .card-body {
  text-align: center;
}

main #category .products .col-lg-3 .card-body .name {
  font-size: 13px;
}

main #category .products .col-lg-3 .card-body .price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #category .products .col-lg-3 .card-body .price-cards .price {
  color: #757575;
  font-size: 13px;
  -webkit-transform: translateX(-33px);
          transform: translateX(-33px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #category .products .col-lg-3 .card-body .price-cards .add {
  color: #757575;
  font-size: 13px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #video_part {
  background: #f8f8f8;
  padding: 110px 0;
}

main #video_part .container .row .video {
  overflow: hidden;
}

main #video_part .container .row .video:hover .image a img {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #video_part .container .row .video .image {
  position: relative;
}

main #video_part .container .row .video .image a img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #video_part .container .row .video .image a .play_button {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 41%;
}

main #video_part .container .row .video .image a .play_button i {
  color: #f34f3f;
  background: #ffffff;
  border-radius: 50%;
  padding: 31px 33px;
  font-size: 20px;
}

main #video_part .container .row .content {
  padding: 0 45px;
}

main #video_part .container .row .content h2 {
  color: #1b1b1b;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.447em;
}

main #video_part .container .row .content h2 span {
  color: #f34f3f;
}

main #video_part .container .row .content p {
  font-size: 17px;
  line-height: 29px;
  margin-top: 27px;
  font-family: 'Lora', serif;
  color: #afafaf;
}

main #video_part .container .row .content .title {
  margin-top: 25px;
}

main #video_part .container .row .content .title .img {
  display: inline-block;
}

main #video_part .container .row .content .title p {
  display: inline-block;
  margin: 0 0 15px 15px;
}

main #about_experts {
  padding: 60px 0 120px;
}

main #about_experts .container .title {
  padding: 50px 0;
}

main #about_experts .container .title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  color: black;
  font-weight: 400;
}

main #about_experts .container .title p {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #6d6a6a;
  line-height: 29px;
}

main #about_experts .container .experts .row .expert .content h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  letter-spacing: 0.1em;
  line-height: 2em;
}

main #about_experts .container .experts .row .expert .content span {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #afafaf;
}

main #join_to_us {
  background-image: url("../images/h3-background-img.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
}

main #join_to_us .container .main {
  padding: 150px 0 180px 0;
}

main #join_to_us .container .main .title h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4em;
  color: #ffffff;
}

main #join_to_us .container .main .search .search_input input {
  color: #959595;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  width: 330px;
  border: none;
}

main #join_to_us .container .main .search .search_button button {
  padding: 15px 30px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f34f3f;
  border: none;
}

main #join_to_us .container .main .search_click {
  display: none;
  padding: 20px 0;
}

main #join_to_us .container .main .search_click .search_required {
  margin-top: 10px;
}

main #join_to_us .container .main .search_click .search_required span {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

main #from_our_blog {
  background: #f8f8f8;
  padding: 60px 0;
}

main #from_our_blog .container .title {
  padding: 50px 0;
}

main #from_our_blog .container .title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  color: #0e0e0e;
  font-weight: 400;
}

main #from_our_blog .container .title p {
  font-family: 'Lora', serif;
  font-size: 17px;
  color: #6d6a6a;
  line-height: 29px;
}

main #from_our_blog .container .about_flowers .row .about_flower .img {
  overflow: hidden;
  position: relative;
}

main #from_our_blog .container .about_flowers .row .about_flower .img:hover a img {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #from_our_blog .container .about_flowers .row .about_flower .img a img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #from_our_blog .container .about_flowers .row .about_flower .img .date {
  background: #ffffff;
  padding: 5px 17px;
  position: absolute;
  top: 10px;
  left: 10px;
}

main #from_our_blog .container .about_flowers .row .about_flower .img .date a {
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: .15em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 10px;
}

main #from_our_blog .container .about_flowers .row .about_flower .img .date a:hover {
  color: #f34f3f;
  -webkit-transition: all 0.2 ease-out;
  transition: all 0.2 ease-out;
}

main #from_our_blog .container .about_flowers .row .about_flower .content h5 a {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #0e0e0e;
  line-height: 1.363em;
  font-weight: 400;
}

main #from_our_blog .container .about_flowers .row .about_flower .content p {
  font-family: 'Lora', serif;
  line-height: 1.6em;
  font-size: 15px;
  color: #6d6a6a;
}

main #second_slider {
  padding: 120px 0;
}

main #second_slider .container .row .slider {
  width: 45%;
  margin: 0 auto;
}

main #second_slider .container .row .slider .slick-prev {
  left: -100px;
}

main #second_slider .container .row .slider .slick-prev::before {
  font-size: 40px;
  color: gray;
}

main #second_slider .container .row .slider .slick-next {
  right: -100px;
}

main #second_slider .container .row .slider .slick-next::before {
  font-size: 40px;
  color: gray;
}

main #second_slider .container .row .slider .draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

main #second_slider .container .row .slider .item {
  width: 100%;
}

main #second_slider .container .row .slider .item .image img {
  width: 18%;
  display: inline-block;
}

main #second_slider .container .row .slider .item .title p {
  font-style: italic;
  margin: 30px 0;
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #4b4747;
  line-height: 1.5em;
}

main #second_slider .container .row .slider .item .title span {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #afafaf;
  text-transform: capitalize;
  letter-spacing: 0;
  line-height: 24px;
}

main #second_slider .container .row .slider .item .title span.name {
  color: #1b1b1b;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer {
  padding-bottom: 20px;
  background-color: #fefaf3;
}

footer .top-footer .col-lg-3 .title {
  padding-top: 50px;
}

footer .top-footer .col-lg-3 .list {
  padding-top: 30px;
}

footer .top-footer .col-lg-3 .list ul {
  list-style: none;
  padding: 0px;
}

footer .top-footer .col-lg-3 .list ul li a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 12px;
}

footer .top-footer .col-lg-3 .list ul li a:hover {
  color: #f34f3f;
}

footer .bottom-footer .line {
  border-top: 1px solid #8b8b8b;
}

footer .bottom-footer .container .rights span {
  font-size: 12px;
  color: #afafaf;
}

footer .bottom-footer .container .rights span a {
  text-decoration: none;
  color: #6d6a6a;
}

footer .bottom-footer .container .rights span a:hover {
  color: #f34f3f;
}

footer .bottom-footer .container .insta-face .insta a {
  font-size: 12px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .bottom-footer .container .insta-face .insta a:hover {
  color: #f34f3f;
}

footer .bottom-footer .container .insta-face .face a {
  font-size: 12px;
  text-decoration: none;
  color: #8b8b8b;
  padding-left: 25px;
}

footer .bottom-footer .container .insta-face .face a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=main.css.map */