@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,500|Playfair+Display&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    .up {
        position: fixed;
        bottom: 35px;
        right: 35px;
        width: 40px;
        height: 40px;
        background-color: #f34f3f;

        i {
            position: absolute;
            left: 9px;
            top: 7px;
            font-size: 30px;
            color: white;
        }
    }
}

nav {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    // position: fixed;
    height: 70px;

    .container {

        .logo {
            // border: 1px solid black;

            img {
                width: 205px;
            }

        }

        .options {
            // border: 1px solid black;
            padding: 0;

            ul {
                margin: 0px;
                padding: 0;

                li {
                    list-style: none;
                    padding-right: 8%;
                    padding-top: 5px;
                    font-size: 12px;
                    font-weight: 550;
                    color: #1b1b1b;
                    cursor: pointer;
                    font-style: 'Montserrat', sans-serif !important;

                    .second {
                        position: absolute;
                        display: block;
                        height: 0px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .2s all;

                        ul {
                            padding-top: 15px;

                            li {
                                padding-bottom: 15px;

                                a {
                                    text-decoration: none;
                                    color: #737373;
                                }
                            }
                        }

                    }

                    &:hover {
                        .second {
                            margin-top: 25px;
                            height: 283px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #pages {
                            margin-top: 25px;
                            height: 130px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #shop {
                            margin-top: 25px;
                            padding-top: 17px;
                            height: 370px;
                            width: 90%;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                            left: 5%;

                        }

                        #portfolio {
                            margin-top: 25px;
                            height: 200px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;

                        }

                        #blog {
                            margin-top: 25px;
                            height: 130px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }

                        #elements {
                            margin-top: 25px;
                            height: 170px;
                            width: 150px;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                            background-color: white;
                            padding-left: 15px;
                        }
                    }
                }



            }
        }

        .mix {
            // border: 1px solid black;
            display: flex;
            justify-content: space-between;
            padding: 0;

            .search-icon {
                padding-right: 25px;
            }

            .basket-icon {
                padding-right: 25px;
            }
        }

    }
}

// .box {
//     width: 100%;
//     background-color: white;
//     height: 1px;
//     padding-top: 70px;
// }

main {

    #title_wrapper {
        background: #FAFAF9;
        padding: 80px 0;

        .container {
            .title {
                h1 {
                    color: #0e0e0e;
                    font-size: 50px;
                    font-family: 'Playfair Display', serif;
                }
            }
        }
    }

    #first {
        padding-top: 150px;

        h5 {
            margin-bottom: 3px;
            font-family: "Playfair Display", serif;
            font-size: 22px;
            color: #1b1b1b;
        }
    }

    #second {
        padding-top: 150px;

        h5 {
            margin-bottom: 3px;
            font-family: "Playfair Display", serif;
            font-size: 22px;
            color: #1b1b1b;
        }
    }
}

footer {

    margin-top: 150px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fefaf3;

    .top-footer {
        .col-lg-3 {

            .title {
                padding-top: 50px;
            }

            .list {
                padding-top: 30px;

                ul {
                    list-style: none;
                    padding: 0px;

                    li {

                        a {
                            text-decoration: none;
                            color: #8b8b8b;
                            font-size: 12px;

                            &:hover {
                                color: #f34f3f;

                            }
                        }

                    }

                }
            }
        }
    }

    .bottom-footer {

        .line {
            border-top: 1px solid #8b8b8b;
        }

        .container {
            .rights {
                span {
                    font-size: 12px;
                    color: #afafaf;

                    a {
                        text-decoration: none;
                        color: #6d6a6a;

                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }

            .insta-face {
                .insta {
                    a {
                        font-size: 12px;
                        text-decoration: none;
                        color: #8b8b8b;

                        &:hover {
                            color: #f34f3f;
                        }
                    }

                }

                .face {
                    a {
                        font-size: 12px;
                        text-decoration: none;
                        color: #8b8b8b;
                        padding-left: 25px;

                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }
        }
    }
}